<div class="dashboard">
  <main class="content">
    <header class="header">
      <h1>Bienvenido, Juan</h1>
    </header>

    @if(!cargando()){
        <section class="cards">
            <div class="card">
                <h3>Próxima Nómina</h3>
                <p>{{ dataGeneral()?.proximaNomina }}</p>
            </div>
            <div class="card">
                <h3>Días de Vacaciones</h3>
                <p>{{ dataGeneral()?.diasVacaciones }} disponibles</p>
            </div>
            <div class="card">
                <h3>Asistencia</h3>
                <p>{{ dataGeneral()?.asistencias }}% este mes</p>
            </div>
            </section>

            <section class="main-section">
            <h2>Últimos Documentos</h2>
            <table class="data-table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                    @for (item of ultimosDocumentos(); track item.id) {
                        <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.tipo }}</td>
                        <td>{{ item.fecha }}</td>
                        <td><button>Ver</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    }
    @else{
        <div class="loading">
            <i class="fa-solid fa-spinner fa-spin"></i>
            <p>Cargando datos...</p>
        </div>
    }
  </main>
</div>
