<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="custom-sidenav" mode="side" [opened]="true" (mouseenter)="sidenavOpened = true"
    (mouseleave)="sidenavOpened = false">

    <mat-nav-list class="nav-list">
      <a class="nav-link" mat-list-item routerLink="/">
        <i class="fa-solid fa-house"></i>
        @if(sidenavOpened){
          Inicio
        }
      </a>
      <a class="nav-link" mat-list-item routerLink="/perfil">
        <i class="fa-solid fa-user"></i>
        @if(sidenavOpened){
          Mi Perfil
        }
      </a>
      <a class="nav-link" mat-list-item href="#">
        <i class="fa-solid fa-file"></i>
        @if (sidenavOpened) {
          Documentos
        }
      </a>
      <a class="nav-link" mat-list-item routerLink="/asistencia">
        <i class="fa-solid fa-clipboard-user"></i>
        @if (sidenavOpened) {
          Asistencias
        }
      </a>
      <a class="nav-link" mat-list-item href="#">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        @if (sidenavOpened) {
          Nómina
        }
      </a>
      <a class="nav-link" mat-list-item href="#">
        <i class="fa-solid fa-bars"></i>
        @if (sidenavOpened) {
          Configuración
        }
      </a>
      <div style="flex: 1;"></div>

      <a class="nav-link" mat-list-item (click)="cerrarSesion()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        @if(sidenavOpened){
          Cerrar sesión
        }
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--
<app-dashboard /> -->
